.rm_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* border-radius: 20px;
  border: 1px solid silver; */
}
.rm_header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.canvas_el {
  padding-top: 20px;
  /* padding-bottom: 20px; */

  /* margin: 10px; */
  /* width: 598px !important;
  height: 298px !important; */
  z-index: 100;
}

.sup,
.sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  _vertical-align: bottom;
  position: relative;
}

.sup {
  bottom: 1ex;
}

.sub {
  top: .5ex;
}

.rm_absolute_mm_btn {
  position: absolute;
  left: 0;
}
.rm_title_hat {
  width: fit-content;

}